nav {
  padding: 10px 5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  color: rgb(58, 54, 54);
}

.Navbuttons,
.options {
  gap: 25px;
}

.options li:hover {
  color: #D91B7E;
  cursor: pointer;
}

.button1 {
  padding: 10px;
}

.button2 {
  padding: 10px;
  border-radius: 20px;
  background-color: #D91B7E;
  color: white;
  border: none;
}

.button1:hover {
  cursor: pointer;
  transform: scale(0.8, 0.8);
}

.button2:hover {
  cursor: pointer;
  transform: scale(0.8, 0.8);
}

.menu-btn {
  display: none;
}

@media (max-width: 767px) {
  nav {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 10px 15px;
  }

  .menu-btn {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .options {
    display: none;
  }

  .logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .Navbuttons {
    max-width: 200px;
    gap: 5px;
  }

  .button1 {
    padding: 5px;
  }

  .button2 {
    padding: 5px 8px;
  }

  .logo img {
    max-width: 100px;
    transform: translateX(-50%);
  }
}